.progress {
  position: relative;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  position: relative;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 1;

  button {
    flex-grow: 1;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }

  button:not(:first-child):not(:last-child) {
    flex-grow: 1.5;
  }
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  z-index: 1;
  cursor: pointer;

  outline: 3cappx solid var(--primary-blue);
  border-radius: var(--radius-md);

  svg {
    width: 40px;
  }
}
