.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
  margin: auto;
}

.image {
  position: relative;
  align-self: center;
  flex-shrink: 0;
  width: 100%;
  max-width: 20rem;
  aspect-ratio: 1;

  img {
    object-fit: contain;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
