.article {
  width: 100%;
  max-width: 768px;
  margin-inline: auto;
}

.thumbnail {
  position: relative;
  aspect-ratio: 4/3;

  margin: calc(var(--spacing-xl) * -1) calc(var(--spacing-lg) * -1) 0;

  img {
    object-fit: cover;
  }

  margin-bottom: var(--spacing-sm);

  @media (min-width: 512px) {
    aspect-ratio: 19/9;
  }
}

.meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-2xl);
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  margin-bottom: 3.75rem;
}

.title {
  text-wrap: balance;
}

.tags {
  display: flex;
  gap: var(--spacing-sm);
}
